<!--new checkout form -->
<form>
    <h1>{{item.name}}</h1>
    <h3>Item Reservation</h3>
    <label for="checkout_date">Checkout Date</label>
    <input type="date" name="checkout_date" id="checkout_date">
    <label for="due_date">Due Date</label>
    <input type="date" name="due_date" id="due_date">
    <label for="return_date">Return Date</label>
    <input type="date" name="return_date" id="return_date">
    <label for="checkout_notes">Checkout Notes</label>
    <input type="text" name="checkout_notes" id="checkout_notes">
    <label for="return_notes">Return Notes</label>
    <input type="text" name="return_notes" id="return_notes">
    <label for="checkout_status">Checkout Status</label>
    <input type="text" name="checkout_status" id="checkout_status">
    <label for="item_id">Item ID</label>
    <input type="text" name="item_id" id="item_id">
    <label for="user_id">User ID</label>
    <input type="text" name="user_id" id="user_id">
    <input type="submit" value="Submit">
</form>

